body{
    margin: 0;
    padding: 0;
    background-color: #396493;
}
#main-container{
    background-color: rgba(0,0,0,0.8);
    background-image: url(./resources/Banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}
#main-logo {
    display: block;
    margin: auto;
    padding: 30px 0px 0px 0px;
    height: 15%;
    width: 22%;
}

h1{
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 80px;
    color:white;
    text-shadow: 1px 2px black;
}

.main_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 15px;
}

.hoja{
    position: relative;
    display: inline-block;
    text-align: center;
}

.hoja_img{
    width: 90%;
    height: 100%;
    cursor: pointer;
}

h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -40%);
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color:white;
    text-shadow: 1px 2px black;
}

.hoja:hover{
    -webkit-animation: tiembla 0.5s infinite;
  }
  @-webkit-keyframes tiembla{
    0%  { -webkit-transform:rotateZ(-5deg); }
    50% { -webkit-transform:rotateZ( 0deg) scale(.9); }
    100%{ -webkit-transform:rotateZ( 4deg); }
  }

  #about-us{
    display: none;
    font-family: 'Quicksand', sans-serif;
  }

  header{
      display: flex;
      flex-direction: row;
      margin: 4% 8% 3% 3%;
      justify-content: space-between;
  }

  .logo {
      width: 15%;
      height: 10%;
  }

  h2{
    color:white;
    text-shadow: 1px 2px black;
    font-size: 30px;
  }

  .fa-times{
    font-size: 30px;
    color: #23E4CA;
    padding-top: 2%;
    cursor: pointer;
  }

  .content {
      display: flex;
      flex-direction: column;
      margin: 0% 15%;
      justify-content: center;
  }

  .container-info{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      margin: 1%;
  }

  .icono {
    width: 15%;
    height: 30%;
    background-color: #C4C4C4;
    margin: 2% 0px;
    border-radius: 100px;
    
  }

  .icons{
    padding: 30%;
    color: #172738;
    font-size: 50px;
  }

  .box {
      width: 40%;
      height: 10%;
      background-color: #C4C4C4;
      margin: 1.5% 0px;
      border-radius: 15px;
      cursor: pointer;
  }

  p{
    padding: 0% 10%;
    text-align: justify;
    display: none;
  }

  #info3 {
    display: none;
  }

  h4{
      text-align: center;
      color: #172738;
      font-size: 20px;
      font-weight: bold;
  }

  .footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10% 20% 0% 20%;
  }

  .social {
    color: #C4C4C4;
    font-size: 30px;
    cursor: pointer;
  }

  hr{
      width: 40%;
      margin: 40px auto;
  }
  h6 {
      font-size: 20px;
      color: #C4C4C4;
      text-align: center;
  }

  #products-container{
    display: none;
    font-family: 'Quicksand', sans-serif;
  }
  
.product-list{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.product-card{
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  margin:auto;
  max-width: 200px;
}


.product-description{
  width: 100%;
  height: 50%;
  background-color: grey;
  border-radius: 15px;
  margin:auto;
}

.fade{
  display: none;
}

.shopping-chart-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;  
  margin:auto;  
}

.shopping-cart{
  margin:auto;
  width: 30%;
  height: 50%;
  padding:10px;
}

.buy-button{
  margin:auto;
  width:50%;
  height: 50%;
  border-radius: 15px;
  background-color: white;
  padding:10px;
}

.description-text{
  text-align: center;
  padding:20px;
}

.price{
  display: flex;
  flex-direction: row;
}