body{
    margin: 0;
    padding: 0;
    background-color: #396493;
}
#main-container{
    background-color: rgba(0,0,0,0.8);
    background-image: url(./resources/Banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    filter:brightness(0.5);
}
#main-logo {
    display: block;
    margin: auto;
    padding: 30px 0px 0px 0px;
    height: 15%;
    width: 25%;
}

h1{
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 80px;
}

.main_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.hoja{
    position: relative;
    display: inline-block;
    text-align: center;
}

.hoja_img{
    width: 90%;
    height: 100%;
    cursor: pointer;
}

h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -40%);
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color:white;
    text-shadow: 1px 2px black;
}

.hoja:hover{
    -webkit-animation: tiembla 0.1s infinite;
  }
  @-webkit-keyframes tiembla{
    0%  { -webkit-transform:rotateZ(-5deg); }
    50% { -webkit-transform:rotateZ( 0deg) scale(.9); }
    100%{ -webkit-transform:rotateZ( 4deg); }
  }